
<!-- login component  -->
<div class="flex flex-col md:flex-row max-w-7xl mx-auto mt-32 border lg:border-btnColor rounded-md sm">
  <div class="flex-1 bg-gray-100 flex justify-center items-center">
    <div>
      <p class=" h-9 text-center text-2xl text-btnColor font-extrabold">Login</p>

    <form [formGroup]="loginForm"  class="bg-white p-10 rounded-lg shadow-md">
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="email">
          Email
        </label>
        <input class="form-input border-2 border-gray-200 p-2 w-full rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500" type="email" id="email" formControlName="email">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="password">
          Password
        </label>
        <!-- <p-password class="w-full" id="password" formControlName="password"></p-password> -->
        <p-password formControlName="password" [toggleMask]="true"></p-password>
      </div>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" (click)="login()">
        Sign In
      </button>
    </form>
  </div>
  </div>
  <div class="flex-1 bg-blue-500">
    <img class="h-full object-cover" src="assets/img/login.png" alt="Placeholder Image">
  </div>
</div>
