<footer class=" text-black  mt-8 bg-white h-52 ">
    <div class="max-w-7xl mx-auto px-4 py-6">
      <div class="flex flex-wrap justify-between items-center">
        <div class="w-full md:w-auto mb-6 md:mb-0">
          <img src="assets/img/itng.png" alt="ITNexusGlobal Logo" class="h-20 w-auto">
          <p class="text-sm mt-2">ITNexusGlobal is a leading provider of technology solutions for businesses of all sizes.</p>
        </div>
        <div class="w-full md:w-auto">
          <ul class="flex text-xl">
            <li class="mr-6">
              <a href="#" class="hover:text-gray-300">Home</a>
            </li>
            <li class="mr-6">
              <a href="#" class="hover:text-gray-300">Make Offer</a>
            </li>
            <li class="mr-6">
              <a href="#" class="hover:text-gray-300">Offers</a>
            </li>
          </ul>
        </div>
        <div class="md:w-auto">
          <p class="text-xl mb-2">Follow us on social media:</p>
          <div class="flex text-2xl">
            <p-button icon="pi pi-facebook" class="mr-2"></p-button>
            <p-button icon="pi pi-instagram" class="mr-2"></p-button>
            <p-button icon="pi pi-twitter"></p-button>
          </div>
        </div>
      </div>
    </div>
  </footer>
